#g1 {
    height: 200px;
}

.half-height {
    height: 50%;
}

/* div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
} */

.select2-selection__rendered {
    line-height: 35px !important;
}

.select2-container .select2-selection--single {
    height: 35px !important;
}

.select2-selection__arrow {
    height: 35px !important;
}

.col-container {
    display: table;
    /* Make the container element behave like a table */
    width: 100%;
    /* Set full-width to expand the whole page */
}

.col {
    display: table-cell;
    /* Make elements inside the container behave like table cells */
}
